.not__found {
  height: calc(100vh - var(--header-height));
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 15rem;
}

.subtitle {
  font-size: var(--big-font-size);
}

.paragraph{
  margin-top: var(--mb-2);
  font-size: var(--h2-font-size);
}
.subparagraph{
  font-size: var(--normal-font-size);
  margin-top: var(--mb-1);
}

.link{
  color: var(--first-color);
}
.link:hover{
  color: var(--first-color-alt);
}

@media screen and (max-width: 768px){
  .not__found {
    height: calc(100vh - var(--header-height) - var(--mb-3));
  }
  .title {
    font-size: 12rem;
  }
  
}
@media screen and (max-width: 568px) {
  .not__found {
    height: calc(100vh - var(--header-height) - var(--mb-3));
  }
  .title {
    font-size: 10rem;
  }
  .subtitle {
    font-size: var(--h1-font-size);
  }
}