@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-night-900 rounded-xl;
}

::-webkit-scrollbar-thumb {
  @apply bg-night-400 rounded-xl;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-night-300 rounded-xl;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


section {
  @apply w-full pt-[4.5rem] px-2 3xs:px-4 2xs:px-6;
}
section::after {
  content: '';
}


h2 {
  @apply 4xs:text-4xl font-bold text-slate-50 text-center;
}

h3 {
  @apply text-sm font-semibold text-center;
}


.qualification-button {
  @apply flex justify-center items-center bg-night-500 p-4 rounded-lg m-0 text-center cursor-pointer text-slate-50 border-none font-bold px-2.5 py-2 ease-out-back duration-150 hover:scale-105 hover:bg-night-700 focus:ring-4 active:ring-4 active:ease-out-expo active:bg-indigo-600 active:scale-107 ring-indigo-900 2xs:text-xs text-[0.6rem] 2xs:gap-2 gap-1 sm:pointer-events-none sm:cursor-text sm:bg-night-900;
}
.qualification-button > img {
  @apply h-3 mb-0.5 2xs:scale-110 xs:scale-100;
}
.qualification-button > div {
  @apply 2xs:translate-y-0 translate-y-[0.1rem]
}

@media (max-width: 640px) {
  .qualification-buttons-group:has(+ .qualification-grid > #education-radio:checked) > #education-label {
    @apply bg-indigo-600
  }
  .qualification-buttons-group:has(+ .qualification-grid > #work-radio:checked) > #work-label {
    @apply bg-indigo-600
  }
  .qualification-buttons-group:has(+ .qualification-grid > #organization-radio:checked) > #organization-label {
    @apply bg-indigo-600
  }
}


.qualification-last {
  position: absolute;
  width: .75rem;
  height: .75rem;
  transform: rotate(45deg);
  background-color: rgb(79 70 229);
  
  animation-name: last__animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes last__animation {
  from {
      transform: rotate(45deg) scale(100%);
      opacity: 1;
  }
  to {
      transform: rotate(45deg) scale(250%);
      opacity: 0;
  }
}


.achievement-bg:has(input:checked) {
  @apply bg-night-600
}

.tag-list::after {
  content: '';
  flex-grow: 1000000000;
}

.nav-button {
  @apply rounded-lg px-2 pt-2 pb-1.5;
  margin: 0;
  text-align: center;
  cursor: pointer;
  color: white;
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: small;
  display: flex;
  gap: .5rem;
}
.nav-button:hover {
  @apply bg-night-800 shadow-rim-sm drop-shadow-sm;
}
.nav-button:active {
  background-color:rgb(67 56 202);
}
.nav-button > img {
  @apply -translate-y-1;
}