

.container {
  grid-template-columns: repeat(2, 1fr);
  gap: var(--mb-1);
}
.content__container {
  display: flex;
  justify-content: center;
}
.content {
  position: relative;
  background-color: var(--container-color);
  transition: .3;
  transition: 0.15s var(--ease-out-quart);

  max-width: 16rem;
  width: 100%;

}
.link {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.tag__container {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  padding: var(--mb-0-25) var(--mb-0-5);
  margin: var(--mb-0-1);
  z-index: 1;
  
  flex-grow: 1;
  text-align: center;
}
.tag:hover {
  background-color: var(--third-color) !important;
  color: var(--first-color) !important;
  transition: 0.15s var(--ease-out-quart);
}

.tag__container::after {
  content: '';
  flex-grow: 1000000000;
}

.description {
  padding: var(--mb-1);
}

.content:hover {
  transform: scale(1.05);
  transition: 0.15s var(--ease-out-back);
}


.title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-bold);
}


.modal {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-modal);
  transition: .15s var(--ease-out-quart);
  transform: scale(130%);
  opacity: 0;
  visibility: hidden;

  flex-direction: column;
}


.imgs__4 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--mb-1);
  gap: var(--mb-1);

  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--mb-1);
  margin-bottom:var(--mb-1); */
}
.img__4 {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  width: calc(50% - var(--mb-0-5));
}

.img__flex__ul {
  display: flex;
  flex-direction: row;
  gap: var(--mb-1);
  margin-bottom: var(--mb-1);
}
.img__flex__img {
  max-height: 20rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* .img__flex__li {
  background-color: red;
} */
/* .img__flex__ul:nth-child(2n) {
  page-break-after: always; 
  break-after: always; 
} */
/* .img__flex__img:nth-child(2n - 1) {
  display: block;
} */


.modal__content {
  z-index: calc(var(--z-modal)+1);
  background-color: var(--container-color);
  overflow-y: scroll;
  height: 75vh;
  padding: var(--mb-1) var(--mb-2) 0;
  margin: 0;

}

.modal__icon {
  font-size: var(--big-icon-size);

  transform: translateY(12px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__header {
  color: var(--title-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  
  width: 100%;
  background-color: var(--second-color);
  
  display: flex;
  flex-direction: row-reverse;
}
.modal__footer {
  color: var(--title-color);
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  
  width: 100%;
  background-color: var(--second-color);
  
  display: flex;
  height: var(--header-height);
}
.modal__footer__button__container{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: var(--h4-font-size);
  color: var(--title-color);
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__footer__not__allowed {
  color: var(--text-color);
  background-color: var(--third-color);
  pointer-events: none;
}
.modal__footer__button__container:hover{
  background-color: var(--third-color);
  cursor: pointer;
}

.modal__body {
  padding: 0;
}

.modal__title {
  padding: var(--mb-1);
  margin-left: auto;
  margin-right: auto;
  height: var(--header-height);

  font-weight: var(--font-bolder);
}
.modal__close {
  width: var(--header-height);
  height: var(--header-height);
  color: var(--first-color);
  cursor: pointer;
  position: absolute;
}
.modal__close:hover {
  background-color: var(--third-color);
}


.modal__description__point {
  margin-top: var(--mb-0-25);
  column-gap: var(--mb-0-5);
  display: flex;
}




@media screen and (max-width: 492px) {
  .container {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .modal__content {
    padding: var(--mb-1) var(--mb-1) 0;
  }

  

}
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .tag {
    font-size: var(--small-font-size);
  }
  .modal__content {
    padding: var(--mb-1) var(--mb-3) 0;
  }

  .projects{
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
}

.active {
  transform: scale(100%);
  opacity: 1;
  visibility: visible;
}
.inactive {
  transform: scale(110%);
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .modal__description {
    text-align: justify;
  }
}


