.container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--mb-2);
  gap: var(--mb-0-2);
}

.inactive .tag__icon {
  background-color: black !important;
  color: white !important;
}
.active .tag__icon {
  color: white !important;
}
.tag__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.4rem;
  width: 1.4rem;
}
.tag__title {
  /* padding: var(--mb-0-25) var(--mb-0-5) var(--mb-0-25) 0; */
  padding: 0 var(--mb-0-25);
}
.tag {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  padding-left: var(--mb-0-1);
  padding: 0;

  z-index: 1;
  cursor: pointer;
  
  flex-grow: 1;

  text-align: center;
  display: flex;
  align-items: center;
}
.tag:hover {
  background-color: var(--third-color) !important;
  color: var(--first-color) !important;
  transition: 0.15s var(--ease-out-quart);
}

.container::after {
  content: '';
  flex-grow: 1000000000;
}

@media screen and (min-width: 768px) {
  .tag {
    font-size: var(--small-font-size);
  }
}

/* .active {
  background-color: initial !important;
} */
.inactive {
  background-color: var(--fourth-color) !important;
}